@import url('https://fonts.googleapis.com/css2?family=New+Rocker&family=RocknRoll+One&display=swap');
/* Google Fonts import */

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Global style */

body {
    padding: 0;
    margin: 0;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to bottom, #322b2bd4, #473535d4, #693c3cd4);
    /* Borrowed from Blurty images source code */
    color: white;
    font-family: "RocknRoll One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.hide {
    display: none;
}

/* Header */
header {
    padding: 0 1rem;
    width: 100%;
    text-align: center;
}

#logo {
    height: 100px;
    margin-top: 5px;
}

/* Main Game Area */
.game-area {
    
    padding: 30px;
    margin: 10px 20px;
    height: 70vh;
    background-image: linear-gradient(to top, #322b2bd4, #473835d4, #694f3cd4, #86453ad4, #ab2d26d4, #d8290ad4);
    border-radius: 30px;
    box-shadow: black 2px 2px 2px 2px;
    max-width: 1024px;
}

/* Home Screen */
.home {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

#play-btn,
#htp-btn {
    margin: 10px 0;
    border-radius: 5px;
    border: solid 3px white;
    color: white;
    background-color: #322b2bd4;
    font-size: 1.5em;
    font-family: inherit;
    height: 40%;
    width: 90%;
    max-height: 150px;
    max-width: 425px;
}

/* Footer */
footer {
    position: relative;
    bottom: 0;
    width: 100%;
}

footer a {
    text-decoration: none;
}

#socials {
    height: 60px;
    margin: 10px 0 0 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    bottom: 0;
}

#socials li {
    list-style: none;
}

/* Media Queries */

/* This media query changes the footer from relative to fixed on screens larger than 600px.
    This prevents the social links from sitting on top of the game area on short devices. */
@media screen and (min-height:600px) {

    footer {
        position: fixed;
        bottom: 0;
        width: 100%;
    }
}

/* Screens wider than 425px */
@media screen and (min-width:425px) {

   .home-btn {
        width: 350px;
        max-width: 500px;
        align-self: center;
    }
}

/* Screens wider than 1044px */
@media screen and (min-width:1044px) {

    .game-area {
        margin: 10px auto;
    }
}