@import url('https://fonts.googleapis.com/css2?family=New+Rocker&family=RocknRoll+One&display=swap');
/* Google Fonts import */

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Global style */

body {
    padding: 0;
    margin: 0;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to bottom, #322b2bd4, #473535d4, #693c3cd4);
    /* Borrowed from Blurty images source code */
    color: white;
    font-family: "RocknRoll One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

li {
    padding: 5px;
}

h3 {
    font-size: 1em;
}

#game-area .hide {
    display: none;
}

.btn {
    margin: 10px;
    padding: 2px 20px;
    border-radius: 5px;
    border: solid 3px white;
    color: white;
    background-color: #322b2bd4;
    font-size: 1.5em;
    font-family: inherit;
}

.btn:hover {
    border-color: orange;
}

/* Header */
header {
    padding: 0 1rem;
    width: 100%;
    text-align: center;
}

#logo {
    height: 75px;
    margin-top: 5px;
}

/* Main Game Area */
#game-area {

    padding: 10px;
    margin: 0 20px;
    height: 82vh;
    background-image: linear-gradient(to top, #322b2bd4, #473835d4, #694f3cd4, #86453ad4, #ab2d26d4, #d8290ad4);
    border-radius: 30px;
    box-shadow: black 2px 2px 2px 2px;
    max-width: 1024px;
    display: flex;
    flex-flow: column;
}

/* Home Screen */
.home {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

#play-btn,
#htp-btn {
    margin: 10px 0;
    font-size: 1.5em;
    font-family: inherit;
    height: 40%;
    width: 90%;
    max-height: 150px;
    max-width: 425px;
}

/* How to Play Screen */

.how-to ul {
    font-size: 1em;
    padding: 5px;
    overflow-y: auto;
    max-height: 45vh;
    list-style: none;
}

/* Question Area */

.img-box {
    display: flex;
    height: 20vh;
    max-height: 145px;
    justify-content: center;
    margin: 10px 0;
}

#question {
    height: 48vh;
}

#timer {
    text-align: center;
    background-color: white;
    color: #322b2bd4;
    font-family: "New Rocker", sans-serif;
    font-size: 20px;
    border-radius: 50%;
    width: 30px;
}

.inactive {
    background-color: rgba(50, 43, 43, .4);
    border-color: rgba(255, 255, 255, 0.4);
    color: rgba(255, 255, 255, 0.4);
}

/* Prevents the default hover effect for buttons that are assigned the "inactive" class */
.inactive:hover {
    border-color: rgba(255, 255, 255, 0.4);
}

/* Answer Area */

#answers {
    display: flex;
    flex-flow: row wrap;
    height: 10vh;
    justify-content: center;
}

.ans-btn {
    font-size: 1em;
    margin: 1px;
    width: 49%;
    height: 14vh;
    padding: 2px;
}

.correct {
    border-color: limegreen;
    background-color: green;
}

.incorrect {
    border-color: orange;
    background-color: red;
}

/* Footer */
footer {
    position: relative;
    bottom: 0;
    width: 100%;
}

footer a {
    text-decoration: none;
}

#socials {
    height: 60px;
    margin: 10px 0 0 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    bottom: 0;
}

#socials li {
    list-style: none;
}

/* Media Queries */

@media screen and (max-height:600px) {

    .question > div {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .img-box img {
        max-width: 260px;
    }

    #home-btn {
        font-size: 16px;
        margin: 0
    }

    #next-btn {
        font-size: 16px;
        margin: 0
    }

    #logo {
        height: 65px;
    }

}

@media screen and (min-height:730px) {

    /* This media query changes the footer from relative to fixed on screens larger than 730px.
    This prevents the social links from sitting on top of the game area on short devices. */
    footer {
        position: fixed;
        bottom: 0;
        width: 100%;
    }
}

/* Screens wider than 425px */
@media screen and (min-width:425px) {

    .home-btn {
        width: 350px;
        max-width: 500px;
        align-self: center;
    }
}

/* Screens wider than 1044px */
@media screen and (min-width:1044px) {

    #game-area {
        margin: 10px auto;
    }
}