@import url('https://fonts.googleapis.com/css2?family=New+Rocker&family=RocknRoll+One&display=swap');
/* Google Fonts import */

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Global style */

body {
    padding: 0;
    margin: 0;
    min-height: 100vh;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to bottom, #322b2bd4, #473535d4, #693c3cd4);
    /* Borrowed from Blurty images source code */
    color: #F5DEB3;
    font-family: "RocknRoll One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

li {
    padding: 10px;
}

h3 {
    font-size: 1em;
}

#game-area .hide {
    display: none;
}

.btn {
    margin: 10px;
    padding: 2px 15px;
    border-radius: 5px;
    border: solid 3px #F5DEB3;
    color: #F5DEB3;
    background-color: #322b2bd4;
    font-size: 1.5em;
    font-family: inherit;
    box-shadow: 2px 2px 10px #00000f;
}

.btn:hover {
    border-color: orange;
}

/* Header */
header {
    padding: 0 1rem;
    width: 100%;
    text-align: center;
}

#logo {
    height: 65px;
    min-height: 65px;
}

/* Main Game Area */
#game-area {

    padding: 10px;
    margin: 0 20px;
    height: 95vh;
    background-image: linear-gradient(to top, #322b2bd4, #473835d4, #694f3cd4, #86453ad4, #ab2d26d4, #d8290ad4);
    border-radius: 30px;
    border: #00000f 2px solid;
    box-shadow: 2px 2px 10px #00000f;
    max-width: 1024px;
    display: flex;
    flex-flow: column;
    overflow: hidden;
}

/* Home Screen */
.home {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

#play-btn,
#htp-btn {
    margin: 10px 0;
    font-size: 1.5em;
    font-family: inherit;
    height: 40%;
    width: 90%;
    max-height: 150px;
    max-width: 425px;
}

/* How to Play Screen */

.how-to {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

.how-to ul {
    font-size: 1em;
    padding: 5px;
    overflow-y: auto;
    list-style: none;
    height: 80%;
    text-align: center;
}

#back-btn {
    align-self: flex-start;
    margin-top: auto;
}

/* Question Area */

.img-box {
    display: flex;
    height: 40%;
    justify-content: center;
    margin: auto;
}

.img-box img {
    overflow: hidden;
    align-self: center;
    object-fit: contain;
    height: 100%;
    max-width: 100%;
}

.question>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 5px;
}

#question {
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#question>h3 {
    text-align: center;
    height: 45%;
    align-content: center;
    font-size: 16px;
    color: #00000f;
    background-color: #F5DEB3;
    border: #00000f 2px solid;
    box-shadow: 2px 2px 10px #00000f;
    border-radius: 1.5em;
}

#next-btn,
#home-btn {
    font-size: 16px;
    margin: 0;
}

#timer {
    text-align: center;
    background-color: #F5DEB3;
    color: #322b2bd4;
    font-family: "New Rocker", sans-serif;
    font-size: 25px;
    border-radius: 10px;
    padding: 0 9px;
    box-shadow: 2px 2px 10px #00000f;
    border: #00000f 2px solid;
}



#score {
    font-size: 16px;
    background-color: wheat;
    color: #322b2bd4;
    border-radius: 10px;
    border: #00000f 2px solid;
    padding: 2px 5px;
    box-shadow: 2px 2px 10px #00000f;
    height: 100%;
    align-content: center;
}

.inactive {
    background-color: rgba(50, 43, 43, .4);
    border-color: rgba(245, 222, 179, 0.4);
    color: rgba(245, 222, 179, 0.4);
}

/* Prevents the default hover effect for buttons that are assigned the "inactive" class */
.inactive:hover {
    border-color: rgba(255, 255, 255, 0.4);
}

/* Answer Area */

#answers {
    display: flex;
    flex-flow: row wrap;
    height: 30%;
    justify-content: center;
    margin-top: auto;
}

.ans-btn {
    font-size: 16px;
    margin: 1px;
    width: 49%;
    height: 48%;
    padding: 2px;
}

.correct {
    border-color: limegreen;
    background-color: green;
}

.incorrect {
    border-color: orange;
    background-color: red;
}


/* End Screen */

#end-screen {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 82vh;
}

#end-screen h2 {
    margin-top: auto;
    font-size: calc(16px + 2vh);
    text-align: center;
}

#final-score {
    flex-basis: 100%;
    text-align: center;
    align-content: center;
    font-size: 15vh;
}

button#replay-btn {
    max-height: 50px;
    margin-bottom: auto;
}

/* Error page */

.error {
    text-align: center;
}

.error li {
    list-style: none;
    padding: 5px;
}

.error a {
    color: wheat;
}

/* Footer */
footer {
    position: relative;
    bottom: 0;
    width: 100%;
}

footer a {
    text-decoration: none;
}

#socials {
    margin: 10px 0 0 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}


#socials li {
    list-style: none;
    text-decoration: none;
    color: #F5DEB3;
}

#socials a {
    color: #F5DEB3;
}

/* Media Queries */

@media screen and (min-width:425px) {

    #logo {
        height: 13vh;
        margin-top: 5px;
        max-width: 375px;
        max-height: 110px;
    }

    #question>h3 {
        font-size: calc(16px + 0.5vh);
    }

    #timer {
        font-size: calc(24px + 1.2vh);
    }

    #score {
        font-size: calc(16px + 1.2vh);
    }

    #next-btn,
    #home-btn {
        font-size: calc(16px + 1.2vh);
    }
}

/* Screens wider than 768px */
@media screen and (min-width:768px) {

    #game-area {
        padding: 20px;
    }

    .how-to li {
        padding: 20px;
    }

    .how-to ul {
        font-size: 20px;
    }

    .how-to>h2 {
        font-size: calc(16px + 3vh);
        text-align: center;
    }

    #socials ul {
        display: flex;
        flex-direction: row;
        font-size: 20px;
    }

}

/* Screens wider than 1044px */
@media screen and (min-width:1044px) {

    #game-area {
        margin: 0 auto;
    }

    #question>h3 {
        padding: 20px;
    }
}

/* Screens taller than 520px */
@media screen and (min-height:520px) {

    .error {
        font-size: 2.7vh;
    }
}